@charset "UTF-8";

/* Tablet */

@media (max-width:768px) {

    .menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--preto-alternativo);
        display: block;
        height: 100vh;
        width: 0%;
        overflow: hidden;
        z-index: 1000;
        transition: .4s;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    #navbar-mobile {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-top: 1rem;
    }

    #navbar-mobile a {
        font-size: 1.6rem;
        padding: 2rem 5%;
    }

    #btn-menu {
        display: block;
    }

    .btn-abrir-menu i {        
        font-size: 2.5rem;
        color: var(--vermelho);
        padding: 1rem .8rem;
    }

    .btn-fechar i {
        font-size: 2.5rem;
        color: var(--vermelho);
        padding: 1rem 4%;
    }

    #navbar-desktop {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    section.inicio h1 {
        font-size: 3rem;
    }

    section.inicio h3 {
        font-size: 1.4rem;
    }

    div.col-a {
        padding: 0px;
    }

    p {
        font-size: 1.1rem;
    }

    .sobre .email {
        flex-direction: column;
        gap: 1.2rem;
    }

    section.sobre {
        display: flex;
        flex-direction: column;
    }

    section.sobre h2 {
        text-align: center;
    }

    .texto-sobre {
        width: 75vw;
    }

    .container-projetos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        margin-bottom: 3rem;
    }

    .projeto {
        width: 60vw;
    }   

}

@media (max-width:664px) {

    section.inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .col-b {
        width: 35vw;
    }

    .projeto {
        width: 70vw;
    }  

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width:568px) {
    
    html {
        font-size: 80%;
    }
    
    .col-b {
        width: 50vw;
    }

    .projeto {
        width: 75vw;
    } 
}

@media (max-width:500px) {

    .projeto {
        width: 85vw;
    } 

    .habilidades article {
        flex-direction: column;
        align-items: center;
    }

    .habilidades article p {
        font-size: 1.2rem;
    }
}

@media (max-width:400px) {
    html {
        font-size: 60%;
    }
}

