@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Configurações gerais */

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
}

:root {
    --vermelho-escuro: #73171F;
    --vermelho: #BF1736;
    --cinza-claro: #BFBFBD;
    --cinza: #8C8C8B;
    --preto: #191919;
    --preto-alternativo: #252424;
}

html, body {
    background-color: var(--preto);
    color: white;
    height: 100vh;  
    width: 100vw;
    
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.06rem;
}

p {
    /* line-height: 25px; */
    padding: 0.5em 0;
    font-size: 1.1em;
}

section {
    min-height: 100vh;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header a {
  text-decoration: none;
  color: white;
  padding: 12px;
  transition: .3s;
}

header a:hover {
    color: var(--vermelho);
    
}

nav {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 10px;
}

ul li {
    padding: 15px;
    font-size: 1.1rem;
}

#logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* Section Início */

section.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-b {
  width: 40vw;
  
}

.col-b img {
  width: 100%;
}

.inicio h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.inicio h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    padding: 1rem 0;
}

div.logo img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

span#burguer {
    cursor: pointer;
    padding: 16px;
    display: block;
}

.redes-sociais a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 4rem;
    height: 4rem;
    margin-top: 40px;   
    border: .2rem solid var(--vermelho);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--vermelho);
    transition: .5s;
}

.redes-sociais a:hover {
    background: var(--vermelho);
    color: var(--preto-alternativo);
    box-shadow: 0 0 1rem var(--vermelho);
}

span {
  color: var(--vermelho); 
}

/* Section Sobre */

section.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    gap: 50px;
    background-color: var(--preto-alternativo);
}

.texto-sobre {
    width: 45vw;
}

.texto-sobre h2 {
    font-size: 2.3rem;
    padding-top: 20px;
}

.texto-sobre p {
    padding: 18px 0 0 0px;
    text-align: justify;
    line-height: 1.3rem;
}

.foto-sobre img {
    width: 35vw;
    border-radius: 50%;
}

/* Section Projetos */

.projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projetos h2 {
    font-size: 2.3rem;
    padding: 2rem 0;
}

.container-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.projeto {
  background-color: var(--preto-alternativo);
  width: 45vw;
  padding: 32px;
  border-radius: 20px;
  margin-top: 20px;
  transition: .5s ease;
  border: 1px solid transparent;
}

.projeto:hover {
    border: 1px solid var(--vermelho);
    transform: scale(1.02);
}

.projeto img {
  width: 100%;
  height: 250px;
  border-radius: 25px;
}

.projeto h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.projeto .descricao {
    padding: 1rem 0;
}

.projeto .tecnologias {
    color: var(--vermelho);
    font-weight: 500;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 4rem;
    background-color: var(--vermelho);
    color: var(--preto-alternativo);
    font-size: 1.1rem;
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--vermelho);
}

/* Section Habilidades */

.habilidades {
  background-color: var(--preto-alternativo);
  padding-top: 1rem;
}

.habilidades h2 {
  font-size: 2.3rem;
    text-align: center;
    padding: 24px 0px;
}

.habilidades article {
    display: flex;
    gap: 30px;
    margin: 10px 30px;
    padding: 1.2rem 0;
}

.habilidades span {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
}

.habilidades .logo-tecnologias {
    width: 4.5rem;
    height: 4.5rem;
    filter: invert(20%) sepia(78%) saturate(4079%) hue-rotate(339deg) brightness(76%) contrast(98%);
    cursor: pointer;
}

.habilidades .logo-tecnologias:hover {
  animation: float 3s ease-in-out infinite;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: .3s;
}

footer p a:hover {
  color: var(--vermelho);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: .5rem;
  background-color: var(--vermelho);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--vermelho);
}

.footer-iconTop a i {
  font-size: 2rem;
  color: var(--preto-alternativo);
}

/* Animação */

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}
